@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.right {
  float: right; }

.text-right {
  text-align: right; }

body {
  text-align: justify;
  color: #181818;
  font-family: arial;
  max-width: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0; }

header {
  background-color: #f1f1f1;
  height: 100px;
  position: absolute;
  width: 100%;
  top: 0; }
  header h1 a {
    text-decoration: none;
    color: #717171; }
  header h1 a:visited {
    color: #717171; }
  header div {
    max-width: 1000px;
    margin: 0 auto; }
  header .intro {
    opacity: 0.7; }

footer {
  background-color: #f1f1f1;
  height: 50px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity, 0.5s, ease, 0;
  -moz-transition: opacity, 0.5s, ease, 0;
  -ms-transition: opacity, 0.5s, ease, 0;
  transition: opacity, 0.5s, ease, 0; }
  footer div {
    max-width: 1000px;
    margin: 10px auto; }
  footer .contact-links a {
    display: inline-block;
    margin-left: 25px;
    line-height: 3rem; }
    footer .contact-links a img {
      max-height: 30px;
      -webkit-transition: height, 0.25s, ease, 0;
      -moz-transition: height, 0.25s, ease, 0;
      -ms-transition: height, 0.25s, ease, 0;
      transition: height, 0.25s, ease, 0; }
      footer .contact-links a img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
  footer .copyright {
    font-size: 0.9rem;
    font-family: monospace;
    color: #717171;
    display: inline-block; }

section.body {
  padding-top: 10px;
  max-width: 1000px;
  margin: 100px auto 0; }

.spinner {
  margin-right: 5px;
  display: block;
  float: left; }
  .spinner:hover {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
