
.button {
    background-color: white;
    border: 4px solid $darkgrey;
    padding: 10px 15px;
    border-radius: 8px;
    color: $text-colour;
    text-decoration: none;
    display: inline-block;
    
    &:hover {
        background-color: $grey;
    }
}

// less than 600px
@media screen and (max-width: 600px) {

    div.buttons {
        margin: 0 auto;
        text-align: center;
    }

    .button {
        margin: 5px 5px;
    }

}
