

@mixin transition($property, $duration, $timing-function:ease) {
    -webkit-transition: $property, $duration, $timing-function;
       -moz-transition: $property, $duration, $timing-function;
        -ms-transition: $property, $duration, $timing-function;
            transition: $property, $duration, $timing-function;
}

@mixin transform($args...) {
    -webkit-transform: $args;
       -moz-transform: $args;
        -ms-transform: $args;
            transform: $args;
}


@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@include keyframe(rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframe(pulse-text) {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 101%;
  }
  100% {
    font-size: 100%;
  }
}


@mixin animation($name, $duration, $iteration-count, $timing-function) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
            animation-name: $name;    
    -webkit-animation-timing-function: $timing-function;
       -moz-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
    -webkit-animation-iteration-count: $iteration-count;
       -moz-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;

}

@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
     -moz-transform-origin: $args;
      -ms-transform-origin: $args;
          transform-origin: $args;
}