
ul.tabbed {

    border: 1px solid $grey;
    padding: 0 10px;

    li.tab.active {
        display: block;
    }
    li.tab {
        display: none;
        opacity: 0.8;
        min-height: 250px;
        padding-bottom: 15px ;
    }

    h1 {
        display: block;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid $grey;
    }

}

// more than 600px
@media screen and (min-width: 600px) {
    ul.tabbed {
        padding: 0 25px;
    }
}

// less than 400px
@media screen and (max-width: 400px) {
    ul.tabbed {
        padding: 0 5px;
    }
}
