@import 'mixins';

$footer-height: 50px;
$topbar-height: 80px;
$page-width-large: 900px;
$page-width-medium: 100%;
$page-width-small: 100%;
$default-font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

$text-colour: #181818;
$grey: #f1f1f1;

.right {
    float: right;
}

.left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

body {
    text-align: justify;
    color: $text-colour;
    font-family: $default-font-family;
    max-width: 100%;
    font-size: 100%;    
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.4rem;
}

header.site-header {
    height: $topbar-height;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: $grey;
    background-image: url(/img/background-header.jpg);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    @include transition(height, 0.25s);

    div.header-contents {

        h1 a {
            text-decoration: none;
            color: lighten($grey, 25%);

            &:visited {
                color: lighten($grey, 25%);

            }
            &:hover {
                color: $grey;
                @include animation(pulse-text, 0.5s, 1, ease);
            }
        }

        .intro {
            display: none;

        }
        .reveal:hover .hidden {
            display: inline-block;
        }
    }

}

div.contents {
    max-width: $page-width-large;
    margin-left: auto;
    margin-right: auto;
}

footer.site-footer {
    background-color: $grey;
    height: $footer-height;
    line-height: $footer-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    @include transition(opacity, 0.5s);

    .contact-links {
        margin-right: 10px;
        margin-top: 10px;
    }

    .contact-links a {
        display: inline-block;
        margin-left: 10px;
        line-height: inherit;
        img {
            max-height: $footer-height - 20px;
            @include transition(height, 0.25s);

            &:hover {
                @include transform(scale(1.2));
            }
        }
    }

    .copyright {
        margin-left: 10px;
        line-height: inherit;
        font-family: monospace;
        color: darken($grey, 50%);
        display: inline-block;

        &:hover .spinner {
            @include animation(rotate, 1s, infinite, linear);
        }
    }

    .spinner {  
        margin-right: 5px;
        display: block;
        float: left;
    }
}

section.body {
    padding-bottom: $footer-height + 20;
    padding-top: 10px;
    max-width: $page-width-large;
    margin: $topbar-height auto 0;
}


@media screen and (min-width: 900px) {

    section.body {
        margin-top: $topbar-height + 25px;
    }

    header.site-header {
        height: $topbar-height + 25px;
        div.header-contents {

            .intro {
                display: block;
                opacity: 0.8;
                color: lighten($grey, 10%);

                .hidden {
                    color: lighten($grey, 10%);
                    display: none;
                    opacity: 0.8;
                    letter-spacing: 0;
                }
            }
        }
    }
}