@import 'mixins';

$footer-height: 50px;
$topbar-height: 150px;
$page-width-large: 900px;
$page-width-medium: 100%;
$page-width-small: 100%;
$default-font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

$text-colour: #181818;
$grey: #f1f1f1;

.right {
    float: right;
}

.text-right {
    text-align: right;
}

body {
    text-align: justify;
    color: $text-colour;
    font-family: $default-font-family   ;
    max-width: 100%;
    font-size: 100%;    
    padding: 0;
    margin: 0;
}

header {
    background-color: $grey;
    background-image: url(/img/background-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: $topbar-height;
    position: absolute;
    width: 100%;
    top: 0;

    h1 a {
        text-decoration: none;
        color: lighten($grey, 25%);

        &:visited {
            color: lighten($grey, 25%);

        }
        &:hover {
            color: $grey;
            @include animation(pulse-text, 0.5s, 1, ease);
        }
    }

    div {
        max-width: $page-width-large;
        margin: 0 auto;
    }

    .intro {
        opacity: 0.8;
        color: lighten($grey, 10%);

        .hidden {
            color: lighten($grey, 10%);
            display: none;
            opacity: 0.8;
            letter-spacing: 0;
        }

        &:hover .hidden {
            display: inline-block;
        }
    }
}

p {
    line-height: 1.4rem;
}

footer {
    background-color: $grey;
    height: $footer-height;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    @include transition(opacity, 0.5s);

    div {
        max-width: $page-width-large;
        margin: 10px auto;
    }

    .contact-links a {
        display: inline-block;
        margin-left: 25px;
        line-height: 3rem;
        img {
            max-height: $footer-height - 20px;
            @include transition(height, 0.25s);

            &:hover {
                @include transform(scale(1.2));
            }
        }
    }

    .copyright {
        font-size: 0.9rem;
        font-family: monospace;
        color: darken($grey, 50%);
        display: inline-block;

        &:hover .spinner {
            @include animation(rotate, 1s, infinite, linear);
        }
    }

    .spinner {  
        margin-right: 5px;
        display: block;
        float: left;
    }
}

section.body {
    padding-top: 10px;
    padding-bottom: $footer-height + 20;
    max-width: $page-width-large;
    margin: $topbar-height auto 0;
}


@media (min-width: 320px) and (max-width: 900px) {

    footer div, section.body, header div {
        max-width: $page-width-medium;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 320px) {

    footer div, section.body, header div {
        max-width: $page-width-small;
        margin-left: 5px;
        margin-right: 5px;
    }
}